<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

 #### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

This is notebook is about Data Science Tools and Ecosystem, there will be very insteresting info herein.

### **Objetives**
- Some Data Science languages
- Some libraries used for Data visualization
- Some open source tools and IDEs
- Expresions for simple arithmetic calculations.

Some of the most popular Data Science languages are:
- Python
- Julia
- R

Ok, now lets have on mind that some of the most common librarys use in Data Science are:
- Ggplot
- Matplotlib
- Seaborn

| Data Science Tools |
| :--:| 
| Jupiter Lab | 
| R Studio |
|Spider |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
 #This will convert 200 minutes to hours by diving by 60
x=200/60
print(x, "h")

3.3333333333333335 h

## Author
*Diego Nino*